fastapi
uvicorn
streamlit
folium
streamlit-folium
rasterio
geopandas
fiona
shapely
pyproj
opencv-python
numpy
matplotlib
torch
torchvision
langchain
langchain-openai
openai
reportlab
python-multipart
scikit-learn
Pillow
